@media screen and (max-width: 760px){
    body{
        flex-direction: column;
    }
    
    main{
        flex-direction: column;
    }

    h2{
        font-size: 38px;
    }

    form{
        margin: 0 auto;
    }

    input{
        align-self: center;
    }

    im{
        display: none;
    }

    ul{
        text-align: center;
        
    }
}